<?xml version="1.0" encoding="utf-8"?>
    <phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./Tests/Functional/Bootstrap.php">

    <testsuite name="PhagResponsiveContentInjector Test Suite">
        <directory>./Tests</directory>
    </testsuite>

</phpunit>
